$cellSize: 50px;
$cellNumber: 10;

.game {
  display: grid;
  width: $cellSize * $cellNumber;
  grid-template-columns: repeat($cellNumber, 1fr);

  .cell {
    width: $cellSize;
    height: $cellSize;
    box-sizing: border-box;
    border: 1px solid black; // todo

    &.active {
      background-color: #8e92d1;
    }
  }
}
