$cellSize: 50px;
$cellNumber: var(--fieldNumber);

.game {
  display: grid;
  width: calc($cellSize * $cellNumber);
  grid-template-columns: repeat($cellNumber, 1fr);

  .cell {
    width: $cellSize;
    height: $cellSize;
    box-sizing: border-box;
    border: 1px solid black; // todo

    &.active {
      background-color: #8e92d1;
    }

    &.snake {
      background-color: #cc6868;
    }

    &.snakeHead {
      background-color: red;
    }
  }
}
