$bodyMargin: 10px;
$cellNumber: var(--fieldNumber);
$cellSize: 50px;
//$cellSize: calc((100vw - 2 * $bodyMargin) / $cellNumber);

@mixin fieldBaseBlock($color) {
  background-color: $color;
  border-radius: 50%;
  display: flex;
  content: '';
  width: $cellSize;
  height: $cellSize;
}

@mixin fieldSnakeHeadBlock($color) {
  @include fieldBaseBlock($color);
  justify-content: center;
  align-items: center;
  content: 'head';
}

body {
  margin: $bodyMargin;
}

.game {
  width: calc(($cellSize * $cellNumber) + 1px * $cellNumber - 1px);
  display: grid;
  grid-template-columns: repeat($cellNumber, 1fr);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;

  .cell {
    background-color: white;
    width: $cellSize;
    height: $cellSize;

    &[data-class="food"] {
      &:before {
        @include fieldBaseBlock(#cc3333);
      }
    }

    &[data-class="snake"] {
      &:before {
        @include fieldBaseBlock(#00cc00);
      }
    }

    &[data-class="snakeHead"] {
      &:before {
        @include fieldSnakeHeadBlock(#009900);
      }
    }
  }
}
